html,body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

#main-content {
	align-items: center;
}

#left {
	align-items: center;
	display: flex;
	justify-content: center;
}

#right {
	align-items: center;
	display: flex;
	justify-content: center;
	flex: 1;
	flex-direction: column;
}

.profile-picture {
	border-radius: 50%;
}

@media only screen and (max-device-width : 640px) {
	.profile-picture {
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}

	.name {
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 2px;
		font-size: 15px;
	}

	.description {
		font-size: 10px;
	}
}

@media only screen and (max-device-width: 768px) {
	.profile-picture {
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}

	.name {
		font-family: 'Montserrat', sans-serif;
		margin-bottom: 2px;
		font-size: 15px;
	}

	.description {
		font-size: 10px;
	}
}

.name {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2px;
	font-size: 40px;
}

.description {
	font-size: 20px;
}

.social-links {
	list-style: none;
	padding-left: 0px;
}

.social-links li {
	display: inline-block;
	margin-right: 8px;
}

.social-links a {
	text-decoration: none;
	padding: 4px;
}

.social-links-pics {
	width: 25px;
	height: 25px;
}

.social-links-pics:hover{
	background-color: rgba(255, 0, 255, 0.1);
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: right;
}

.name {
	font-size: 20px;
}

.content {
	padding: 0% 10%;
}

.project-title {
	padding: 3% 10%;
}

.pictures {
	padding-bottom: 3%;
}

.subtitle {
	font-weight: bold;
}

.pic {
	width: 400px;
	height: 300px;
	padding: 10%;
}

.vertical-pic {
	width: 300px;
	height: 400px;
	padding: 10%;
}

.mobile-pic {
	width: 300px;
	height: 533px;
	padding: 10%;
}

.single-pic {
	width: 700px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ipad-pic {
	width: 225px;
	height: 300px;
}

.section-subtitle {
	font-weight: bold;
	font-size: 120%;
}

.img-grid {
	width: 650px;
	height: 350px;
}

.logo {
	width: 150;
	height: 70px;
}

.column {
	width: 7px;
}

.insights-table {
	width: 20%;
	text-align: center;
	font-weight: bold;
}

.apa-table {
	padding: 3%;
}

.video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}